body{
   font-family: 'Raleway';
   margin: 0px 0px;
}
.container{
    max-width: 1350px;
    margin: auto;
}
/* ///////////        menu de navigation       ///////////*/
/* header, .maps, .nav-border,section, .album , .info{
    margin-left:80px;
    margin-right: 80px;
} */
header{
    display: flex;
}
.nav{
    margin-left: auto;
} 
.nav ul{
    list-style: none;
    margin-top: 0px;
    margin-left: auto;
}
.nav-border{
    margin-top: 26px;
}
.nav-border ul li:hover{
    transform: translateY(10px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    z-index:3;
    }
.border-top-blue{
    border-top: 2px solid #0065fc;
    color:#0065fc !important ;
}
.nav a{
    margin-top:0px;
	padding: 10px;
	display: block;
	text-align: justify;
	text-decoration: none;
	color: #444D56;
    font-size: 20px;
}
.menu li{
    float: left;
    padding-left: 72px;
}
a:hover {
    color:#0065fc;
}
.inscrire{
    order: 3;
    color:#0065fc;
    font-size: 20px;
    line-height: 2.2;
    padding-left: 53px;
}
.inscrire a{
    text-decoration: none;
    color: #0065fc;
}
/* h1, p, h3{
    margin-left: 80px;
} */
h1{
    font-size: 23px;
}
h3{
    font-size: 1.5em;
}
h2{
    margin: 39px 0px 34px 40px;
}

/*/////////////border de recherche////////////////*/
.maps{
    height: 49px;
}
.fa-map-marker-alt{
    background-color: #ececeb;
    border: 2px solid transparent;
    width: 37px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 43px;
    position: absolute;
}
.fa-map-marker-alt:before {
    line-height: 2.7;
    margin-left: 11px;
}
input{
    height: 46px;
    width:17%;
    margin-left: 9px;
    border: 1px solid #c0c0c04d;
    padding-left: 56px;
    font-weight: bold; 
}
button{
    background-color:#0065FC;
    color: white;
    position: absolute;
    margin-left: -10px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 108px;
    height: 46px;
    border: 0px;
    font-weight: bold;
}
button a {
    text-decoration: none;
    color: white;
}
/*//////////menu des filtres////////////:*/
.nav-border ul{
    margin-bottom: 29px;
    padding-left: 0px;
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
}
.class-border {
    border: 1px solid silver;
    border-radius: 17px;
    margin-left: 2%;
    margin-bottom: 2px;
    height: 34px;
}
.class-border p{
    margin: 7px 20px 0px;
    padding-left: 22px;
    font-weight: bolder;
    font-size: 17px;
}
.class-border-none{
    margin-top: 8px;
    font-weight: bolder;
    font-size: 18px;
}
.class-border i{
    background-color: #DEEBFF;
    border-radius: 20px;
    color: #0065FC;
    position: absolute;
    height: 37px;
    width: 34px;
    line-height: 2;
    margin-left: -3px;
    margin-top: -2px;
}
 .fa-money-bill-wave:before {
    margin-left: 8px;
    line-height: 2.8;
    font-size: 14px;
} 
.fa-child:before{
    margin-left: 11px;
    line-height: 2.3;
}
.fa-heart:before {
    margin-left: 9px;
    line-height: 2.4;
}
.fa-dog:before{
    margin-left: 7px;;
}
/*///////texte information//////////////////*/
.info{
    display: flex;
    margin-bottom: 20px;
}
.titre-info p{
    color:#5d5a5a;
    margin-top: 0px;
    margin-left: 11px;
}
.fa-info:before{
    color: #3c85fd;
    border-radius: 15px;
    border: 1px solid silver;
    padding: 3px 6px 3px 6px;
    font-size: 10px;
}
section{
    display: flex;
    margin-bottom: 53px;
}
/*/////////:hébergement à Marseille//////////////:*/
#hotel{
    padding-right: 23px;
    border-radius: 15px;
    background-color:#F2F2F2;
    margin-right: 1%;
}
#hotel h1 ,h4{
    margin-left: 34px;
    font-weight: bold;

}
#hotel h4 {
    margin-top: 23px;
    color: black;
}
#hotel a{
    text-decoration: none;
}
h6{
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.stars{
    margin-left: 10px;
}
.fa-star:before {
    font-size: 10px;
    color:#0065FC;
}
.silver:before{
    color: #c0c0c066;

}
.partie1 h4{
    font-size: 10px;

}
.partie1 a, .txt-populaire a{
    color: black;
    text-decoration: none;
}
.partie1 p span {
    color: black;
    font-weight: bolder;
}
#hotel,#hotel .partie1,#hotel img{
    width: 100%;
    object-fit: cover;
}
#hotel .partie1 {
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    margin-left: 34px;
    margin-top: 16px;
}
#hotel p {
    font-size: 10px;
    color: #4b4a4a;
    margin-left: 10px;
    line-height: 8px;
    margin-bottom: 1px;
    margin-top: 4px;
}
#hotel img{
    height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*les plus populaire//////////*/
aside{ 
    width: 43%;
    background-color:#F2F2F2;
    border-radius: 15px;
    /* flex-flow: row; */   
}
aside .partie1 {
    border-radius: 15px;
    box-shadow: 6px 6px 6px silver;
}
.title-aside{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.title-aside h2{
    margin-left: 37px;
    margin-top: 28px;
}

.fa-chart-line{
    margin-right: 47px;
}
.populaire img {
    object-fit: cover;
    height: 150px;
    width: 44%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 4.5px;
    margin-top: 4.5px;
}
.populaire{
    margin-bottom: 19px;
}
.txt-populaire p{
    line-height: 2;
    font-size: 11px;
    color:  #4b4a4a;
    margin-left: 10px;
    margin-block: auto;
}
.txt-populaire p span{
    color: black;
    font-weight: bolder;
}
.txt-populaire h6{
    width: 75%;
    font-weight: bold;
}
.txt-populaire{
    margin-top: 20px;
    margin-left: 10px;
}
.txt-populaire .stars{
    line-height: 5;
}
.populaire{
    display: flex;
    background-color: white;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 15px;
}

.title-aside, .groupe1, .groupe2{
    display: flex;

}
.groupe1{
    padding-bottom: 27px;
}
.groupe2{
    padding-bottom: 12px;
}
/*//////////      activités à Marseille          /////////////*/

#activite{
    display: block;
}

.album{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 446px;
    margin-top: 24px;
}
.album a{
    text-decoration: none;
    color: black;   
}

.album img, .album p{
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}


.activ-bloc{
    transition-duration: 0.1s;
    border-radius: 15px;
    box-shadow: 6px 6px 6px silver;
    width: 23%;
   
}
.activ-bloc p{
    margin-left: 18px;
    margin-top: 5px;
    font-size: 15px;
}  
.activ-bloc img{
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    width: 100%;
    height: calc(100% - 40px);
}
.activ-bloc.article1{
    height: 100%;
}
.activ-bloc.article2{
    height: 60%;
}
.activ-bloc.article3{
    height: 30%;
}

.activ-bloc.article4{
    height: 100%;
}
.activ-bloc.article5{
    height: 30%;
}
.activ-bloc.article6{
    height: 60%;
}

/* ///////          footer              ///////// */

footer{
    background-color:#F2F2F2;
    display: flex;
    width: 100%;
    justify-content: center;
}

.Apropos{
    width: 29%;
    /* margin-left: 80px; */
}
.Apropos p ,.hebergement p, .assistance p{
    margin-left: 0px;
}
.hebergement{
    width: 33%;
}
footer p{
    font-weight: bolder;
}
footer ul{
    list-style-type: none;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 14px;
    color: #4b4a4a;
}

@media (max-width:1391px){
    .container{
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (min-width:700px) and (max-width:1024px){
    .album{
        flex-direction: row;
        height: auto;
    }
    .activ-bloc{
        height: 250px !important;
        width: 32%;
        margin-bottom: 2%;
    }
    

}

@media (max-width:700px){
    .album{
        flex-direction: row;
        height: auto;
    }
    .activ-bloc{
        height: 250px !important;
        width: 100%;
        margin-bottom: 4%;
    }
    

}

@media only screen and (min-width: 700px) and (max-width: 1150px){
    header{
        margin: auto;
    }
    h3{
        margin-left: 42px;
    }
   
    /* .activ3{
        margin-top: 0px;
        margin-left: 0px;
    }
    .bloc3{
        margin-top: 52px;
    }
    .bloc1,.activ2{
        margin-right: 41px;
    }
    .activ5{
        margin-right: 49px;
    } */
    .Aprpos, .hebergement, .assistance{
        width: 30%;
    }
    
}
@media(max-width:1024px){
    aside{
        width: 99%;
        margin-top: 16px;
    }  
    .Populaires{
        display: flex;
        width: 94%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    
    }  
    .populaire{
        margin-bottom: 36px;
        margin-left: 15px;
        width: 46%;
    }
    #hebergement{
        display:flex;
        flex-wrap:wrap;
    }
     input{
        width: 40%;
    }
}
@media(max-width:894px){
    .Populaires{
    flex-direction: column;
    }
    .populaire{
        margin-bottom: 36px;
        width: 90%;
        margin-left: 24px;
    }
   
}

